// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$success: #3ba66b;
$warning: #ffb416;
$danger: #fe0000;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "custom-success":    $success,
    "warning":    $warning,
    "danger":     $danger,
  ),
  $theme-colors
);

$spacers:(
    7: 7.5rem
);